/ThirdParty/Fbxsdk/lib/x64/debug/libfbxsdk-md.lib
/ThirdParty/Fbxsdk/lib/x64/debug/libfbxsdk-mt.lib
/ThirdParty/Fbxsdk/lib/x64/debug/libfbxsdk.lib
/ThirdParty/ImGUI/x64/*
/ThirdParty/Json11/x64/*
/ThirdParty/Spdlog/x64/*
/ThirdParty/Spdlog/Spdlog/x64/*
/ThirdParty/stb/x64/*
/ThirdParty/Tinyobjloader/x64/*
/ThirdParty/Jolt/x64/*
/DistEngine/x64/*
/DistEngine/.vs/*
/PlatformDependent/Core/x64/*
/PlatformDependent/WinApp/x64/*
/Runtime/Graphics/x64/*
/DistEditor/x64/*
/Audio/x64/*
